*{
margin: 0;
padding: 0;

}
body{
    
    background-color: rgb(39, 39, 39);
}
nav{
    background:rgb(32, 32, 32);
    /*background: linear-gradient(0deg, rgb(39, 39, 39)  48%, rgb(20, 20, 20) 100%);*/
    

}
/*
font-family: 'Bebas Neue', cursive;
font-family: 'Secular One', sans-serif;
*/
header h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.6vw;
    color:rgb(255, 160, 30);
    background:linear-gradient(318deg,#fde6b3, #ff9100,#ffdab0,#ff9100,#ffa227);
    background-size: 700% 700%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

    -webkit-animation: fade-h1 6s ease infinite;
    -moz-animation: fade-h1 6s ease infinite;
    animation: fade-h1 6s ease infinite;

}


@-webkit-keyframes fade-h1 {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}
@-moz-keyframes fade-h1 {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}
@keyframes fade-h1 {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}


.icon:focus{

    filter: invert(62%) sepia(22%) saturate(5143%) hue-rotate(360deg) brightness(0%) contrast(103%);


    
    transition: 0.2s;
}

.icon{
    width: 1.3vw;
    /*filter: invert(62%) sepia(22%) saturate(5143%) hue-rotate(360deg) brightness(102%) contrast(103%);*/
    transition: 0.2s;

}

.header_container_top{
    padding-top: 1vw;
    padding-bottom: 1.5vw;
    padding-right: 1vw;
    padding-left: 1vw;

    margin-left: 10%;
    margin-right: 10%;
    
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.header_container_bot{

    padding-right: 1.2vw;
    padding-left: 1.2vw;
}

.header_container_top div{
    margin-left: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}


#input_div{
    width: 70%;
    
}

textarea:focus, input:focus{
    outline: none;
}

#input_div input{
    font-size: 0.9vw;
    font-weight: 100;
    font-family: 'Secular One', sans-serif;
    color: white;
    background-color: rgb(45, 45, 45);
    border: 0;
    border-radius: 5px;
    padding: 0.9vw;
    transition: 0.3s;
    
}

#input_div input:focus{
    background-color: #c97200;
    transition: 0.3s;
}

#input_div input:hover{
    background-color: #c97200;
    transition: 0.3s;
}



#input_div input{
    width: 80%;
    height: 0.01vw;

}

#icon_div{
    display: flex;
    align-items: center;
    width: 5%;
}







header {
    padding-bottom: 2px;

    background: linear-gradient(318deg,#ffd477, #ff9100,#995200,#ff9100,#ffa227);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;

   

}

nav{
    box-shadow: 0px 2px 20px 5px rgba(255, 170, 43, 0.384);
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 13% 0%
    }

    50% {
        background-position: 88% 100%
    }

    100% {
        background-position: 13% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 13% 0%
    }

    50% {
        background-position: 88% 100%
    }

    100% {
        background-position: 13% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 13% 0%
    }

    50% {
        background-position: 88% 100%
    }

    100% {
        background-position: 13% 0%
    }
}
.ses-msg{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}


.header_container_bot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.container_bot{


    display: flex;
    flex-direction: row;
}

.container_bot div{
    display: flex;
    align-items: center;
    padding-top: 0.2vw;
    padding-right: 1vw;
    padding-left: 1vw;
    border-left: 1px rgba(139, 139, 139, 0.534) solid;
}



a{
    text-decoration: none;
    color: #fcaa5e;
    font-family: 'Secular One', sans-serif;
    font-size: 0.60vw;
    transition: 0.1s;
}

a:hover{
    color: #ff9100;
    transition: 0.1s;
}


nav{
    padding-top: 0.5vw;
}

.categories , .product{
    display: flex;
    align-items: flex;

    flex-direction: column;
}



.container ul{
    list-style: none;
}
.container ul li{
    margin: 5px;
}

.container{
    display: flex;
    align-items:flex-start;
    flex-direction: row;
    justify-content: center;
}


.product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 71vw;

}

.item img{

    width: 11vw;
    height: 7vw;

    object-fit:fill;

}


.item{
    cursor: pointer;
    top: 0px;
    border-radius: 7px;
    position: relative;
    margin: 0.3vw;
    padding: 1vw;
    background-color: rgb(50, 50, 50);
    width: 11vw;


    display: flex;
    align-items: center;

    flex-direction: column;
    flex-wrap: wrap;
    box-shadow:  -1px 4px 18px -4px rgba(0, 0, 0, 0);
    border: 1px solid transparent;
    transition: 0.3s;

}
.item:hover{
    background-color: rgb(46, 46, 46);
    top: -5px;
    
    border: 1px solid rgb(255, 160, 30);
    box-shadow:  -1px 4px 18px -4px rgb(224, 127, 0);

    transition: 0.3s;
}


.item_description{
    min-height: 3vw;
    width: 100%;
    min-height: 2.9 vw;
    font-family: 'Secular One', sans-serif;
    flex-wrap:nowrap;
    overflow-wrap:break-word;
    
}

.main_container{
    min-height: 90vh;
    margin-top: 3vw;
    width: 100%;
}
p{
    display: -webkit-box;
    max-width: 13.5vw;

    font-size: 0.6vw;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: white;
}



.categories{

    margin: 0.3vw;
    margin-right: 2vw;
    padding: 1vw;
}
.categories div{
    margin: 0.9vw;
    
}

.categories h4{
    font-family: 'Bebas Neue', cursive;
    color: #ff9100;
    font-weight: 100;
    letter-spacing: 0.5px;
    font-size: 1vw;
}
.categories ul{

    color: rgb(190, 190, 190);
    font-family: 'Secular One', sans-serif;
}

.categories ul li{
    margin: 0.1vw;
    font-size: 0.7vw;
    
    display: flex;
    align-items: center;
}
.categories input{
    width: 0.8vw;
    
    margin-right: 0.2vw;
}

.categories hr{
    border-color: #9b693b;
    box-shadow: 1px 0px 20px 1px #ff91007a;
}

.categories input[type=checkbox]{

    accent-color:white;

}

.categories input[type=checkbox]:checked{
    accent-color:#ff9100;
    transition: 0.2;
}

.categories input[type=checkbox]:hover{
    accent-color:#e9a64f;
    transition: 0.2s;
}


#state_1{
    display: none;
}
#state_user1{
    border: 0;
}
#state_user{
    display: none;
}
.icon2{
    width: 1.3vw;
    align-items: center;
    margin-left: 1vw;
    position:relative;
    top: -0.1vw;
}
#logo_div{
    position: relative;
    transform: translateY(0px);
    border-bottom: 0.1px #c9720000 solid;
    transition: 0.3s;
    cursor: pointer;
    transform: translateY(-3px);
    border-bottom: 0.1px #c97200 solid;
    transition: 0.3s;
}
body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(32, 32, 32);
    margin-top: 13vh;

}

.foot-cont,
.foot-rhg {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.foot-cont{
    
}

footer li {
    list-style: none;
}

footer h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2vw;
    color: #ff9f22;

}

.foot-cont div {
    margin: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.foot-cont a {
    color: #5f5f5f;
    font-size: 0.7vw;
    transition: 0s;
}

.foot-cont a:hover {
    color: #c6c6c6;
    transition: 0s;
}

.foot-cont li {
    margin: 0.01vw;
}

footer h6 {
    font-family: 'Bebas Neue', cursive;
    font-size: 0.9vw;
    color: #5f5f5f;
    font-weight: 100;
    margin-bottom: 0.5vw;
}

footer hr {
    margin-bottom: 0.7vw;
    border: #5f5f5f 1px solid;
    background-color: rgba(255, 160, 35, 0.69);
}

.icon_div{

}


#icon_div img{
    padding: 0.2vw;
    position: relative;
    transform: translateY(0px);
    border-bottom: 1px #c9720000 solid;
    transition: 0.3s;
    cursor: pointer;
    
}

#icon_div img:hover{
    transform: translateY(-3px);
    border-bottom: 1px #c97200 solid;
    transition: 0.3s;
}
.price_div{
    margin-top: 0.6vw;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.price_div p{

    margin-right: 0.2vw;
}
.price_text{
    font-size: 0.8vw;
    color: #ff9100;
}
.sales_text{
    text-transform:inherit;
    font-size: 0.8vw;
    color: #ff9100;
}
.sales_text span{
    color: hsl(36, 100%, 68%);
}

@media (min-width: 1px) {
    .price_text{
        font-size: 0.8vw;
    }
    .sales_text{
        font-size: 0.8vw;
    }
    #title_description p{
        font-size: .9vw;
    }
 }

@media (max-width: 1500px){
    .item_description{
        min-height: 5vw;
    }
    #title_description p{
        
        font-size: 1.2vw;
    }
    .price_text{
        font-size: 1vw;
    }
    .sales_text{
        font-size: 1vw;
    }
    
}
#title_description{
    min-height: 3vw;
    -webkit-line-clamp: 2;
    width: 100%;
    min-height: 2.3vw;
    margin-bottom: 0.2vw;
    margin-top: 0.1vw;
}
#title_description p{
    letter-spacing: 0.4px;
    color: #ff9a02;
    font-family: 'Bebas Neue', cursive;

}
.add_div{
    padding: 2vw;
    background-color: #5f5f5f;
    position: absolute;
    top: 50vh;
    left: 40vw;
    border-radius: 5px;
    border: 1px solid rgb(255, 130, 47);
    outline: 100vw rgba(128, 128, 128, 0.445) solid;
}
.add_div p{
    
    font-family: 'Secular One', sans-serif;
    font-size: 1.2vw;
    color: rgb(255, 130, 47);
}

#active{
    display: none;
}
.item_description{
    min-height: 3w;
}